<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>County Data</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
    
<body>
    
    <input id="fips-code-input" type="text" placeholder="Enter FIPS Code">
    <button onclick="fetchData()">Get Data</button>
    <canvas id="myChart" width="400" height="200"></canvas>

    <script>
        let myChart; // Declare variable outside of the function

        function fetchData() {
            // Destroy previous chart if exists
            if (myChart) {
                myChart.destroy();
            }
            
            const county_fips_code = document.getElementById('fips-code-input').value;
            fetch(`http://127.0.0.1:5000/data/${county_fips_code}`) // Update the URL
            .then(response => {
                console.log("Response:", response);
                return response.json();
            })
            .then(data => {
            console.log("Data:", data);
                    const ctx = document.getElementById('myChart').getContext('2d');
                    myChart = new Chart(ctx, { // Assign to variable
                        type: 'line',
                        data: {
                            labels: data.months,
                            datasets: [{
                                label: '# of Cases',
                                data: data.cases,
                                backgroundColor: 'rgba(255, 99, 132, 0.2)',
                                borderColor: 'rgba(255, 99, 132, 1)',
                                borderWidth: 1
                            }]
                        }
                    });
                })
                .catch(error => {
                    console.error('An error occurred:', error);
                    // Handle the error as needed
                });
        }
    </script>
    
</body>
    
</html>
